@media (max-width: 760px) {
    #leftColumn {
        display: none;
    }
    #tabLeft {
        display: block;
    }
}

@media (min-width: 760px) {
    #tabLeft {
        display: none;
    }
}


/* Custom Tab-Left */


/* .tabs-left>.nav-tabs {
    border-bottom: 0;
}

.tab-content>.tab-pane,
.pill-content>.pill-pane {
    display: none;
}

.tab-content>.active,
.pill-content>.active {
    display: block;
}

.tabs-left>.nav-tabs>li {
    float: none;
}

.tabs-left>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav 
.bg-primary {
    background-color: #14145B;
} */


/* custom css */

.bg-primary {
    background-color: #14145B;
}

.bg-block {
    background-color: #05054F;
    color: white;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

#social-media-title {
    margin-top: 20px;
    font-weight: bold;
}

#social-media {
    font-weight: normal;
}

#div-title {
    margin: 15px;
    color: #14145B;
    font-weight: bold;
    font-size: 18px;
}

#div-sub-title {
    margin-left: 15px;
    color: #14145B;
    font-weight: bold;
    font-size: 14px;
}

#div-itens {
    margin: 15px;
    color: black;
    font-weight: normal;
    font-size: 12px;
}

#hr-title {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#work-title {
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

#work-company {
    margin-left: 10px;
    margin-top: 0px;
    color: black;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}

#volunter-itens {
    margin-left: 10px;
    color: black;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}