.bg-primary {
    background-color: rgb(1, 1, 26);
}

#Title {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

#SubTitle {
    font-size: 16px;
    color: white;
    text-align: center;
}

#block {
    background-color: #05054F;
    color: white;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px;
    padding-left: 15px;
    font-weight: bold;
}