hr {
    border-color: blue;
    box-sizing: border-box;
    width: 100%;
}

h3 {
    margin-left: 20px;
    color: brown;
}

h1 {
    color: blue;
}

#div-title {
    background-color: white;
    font-family: "Arsenal";
    font-size: 14px;
}